fieldset {
	margin-bottom: 20px;
}

input, textarea {
	padding: 5px;
	margin: 5px;
	border: 1px silver solid;
}

input[type="submit"] {
	width: 100%;
}

input[type="submit"]:hover {
	background: white;
	font-weight: bold;
}

.team-header, .static-header {
	font-weight: bold;
	width: 100%;
	display: block;
}

.team-bio, .static-content {
	width: 100%;
	height: 150px;
	display: block;
}

.team-info {
	margin: 0px;
	width: 100%;
}

.team-upload {
	width: 100%;
}

.delbox, .infobox {
	text-align: center;
	border: 1px red dotted;
	padding: 5px;
	margin: 5px;
	width: 100%;
}

.infobox {
	text-align: left;
	border-color: black;
}

.infobox ul {
	margin: 0px;
	padding-left: 20px;
}

.formLabel {
	width: 20%;
	text-align: right;
}

table, td, tr {
	border: none;
}