fieldset {
	margin-bottom: 20px;
}

input, textarea {
	margin: 10px;
	padding: 10px;
	border: 1px silver solid;
}

input[type="submit"]:hover {
	background: white;
	font-weight: bold;
}

.team-header {
	font-weight: bold;
	width: 100%;
	display: block;
}

.team-bio {
	width: 100%;
	height: 150px;
	display: block;
}

.team-info {
	width: 25%;
}